@import "../../css/app.scss";

.map_wrapper{
  width:70%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  z-index:1;
  background-color: blue;
  // position:absolute;

   .maps{
    height:66rem;
    width:100%;
    margin:0;
    padding:0;
    z-index:0;
  }


}
  .dep-wrapper{
    position:absolute;
    z-index:10;
    right:17%;
    margin-top:5%;
    width:auto;
    height:auto;
    .dep-right{
      background-color:white;
      width:auto;
      float:right;
      .ul-schools{
        columns: 2;
      }
    }
    .dep-left{
      background-color:white;
      width:auto;
      float:left;
      .ul-departments{

        .li-departments{
          display: inline-block; /*necessary*/

        }
      }
    }
  }
