@import "../../css/app.scss";

.component_wrapper{
	z-index:10;
	position:absolute;
	margin:2rem;
	.searchField_wrapper{
		width:18rem;
		box-shadow: 3px 3px 5px #888888;
		.searchField{
			height:3rem;
			.search_text_field{
				border:none;
				outline-width: 0;
				padding:1rem;
				font-size:1.2rem;
				width:15rem;
				height:3rem;
				border-radius: 0 0 0.3rem 0.3rem;
			}
			.search_field_image{
				background-color: #ffffff;
				width:3rem;
				height:3rem;
				float:right;
				padding:0.7rem;
				box-sizing: border-box;
			}
		}
		.button_wrapper{
			display:flex;
		 .selectButton{
			 display: inline-block;
			 margin:0;
			 color:#ffffff;
	      width:6rem;
	      height:3.2rem;
	      z-index:3;
				text-align:center;
				h3{
					margin-top:1rem;
					font-size:1rem;
				}

	    }
			#button2{
				border-radius:0.3rem 0 0 0;
			}
			#button0{
				left:7rem;
			}
			#button1{
				border-radius:0 0.3rem 0 0;
				left:14rem;
			}
		}
		.suggestions{
				border:solid 1px #f1f1f1;
				position:absolute;
				width:99.3%;
				background: white;
				z-index:10;
				left:0rem;
				box-shadow: 3px 3px 5px #888888;

			}
			.suggestions ul{
				margin:0;
				padding:0;
				width:100%;

			}
			.suggestions ul li{

				list-style-type: none;
				width:100%;
				border-bottom:solid 1px #f1f1f1;
			}
			.suggestions ul li a{
				padding:1rem;
				display:block;
			}
			.suggestions ul li a:hover{
				background-color: #f1f1f1;
			}
			.error{
				background-color:white;
				margin-top:10rem;
			}
		}
		.drop_down_wrapper{
				position:relative;
		    .schools_drop_down{
					box-shadow: 3px 3px 5px #888888;
		    	background-color:white;
		    	float:left;
		    	width:6rem;
		    	height:auto;
				ul{
					text-align: center;
			    list-style-type: none;
					margin:0px;
					padding:0px;
					width:100%;
					li{
						font-size:1rem;
						padding-top:0.7rem;
						height:1.5rem;
						border-top:solid 1px #f1f1f1;

					}
					li:hover{
						background-color:#f1f1f1;
					}
			    }
		    }
		    .departments_drop_down{
		    	height:auto;
					z-index:0;
		    	float:right;
					position: relative;
		    	.department_drop_down_column{
						background-color: red;
						box-shadow: 3px 3px 5px #888888;
						margin-top:0.4rem;
		    		margin-left:0.4rem;
		    		background-color:white;
		    		float:left;
						position: relative;
		    		ul{
		    			text-align: center;
		    			list-style-type:none;
		    			margin:0;
		    			padding:0;
		    			width:100%;
							position: relative;
		    			li{
								font-size:1rem;
		    				padding-top:0.6rem;
								height:1.4rem;
		    				padding-left:0.3rem;
		    				padding-right:0.3rem;
		    				border:solid 1px #f1f1f1;
								position: relative;
		    			}
		    			li:hover{
								background-color:#f1f1f1;
							}
		    		}
		    	}
		    }
		}
}
