@import "../css/app.scss";


* {
	font-size: 1.5rem;
}
select {
  width: 101rem;
  height: 4rem;
	padding: 5rem $kth-color-grey;
	margin-left: 1rem;
}

.header1 {
	font-family: $kth-font-title;
	font-size: 3rem;
	text-align: center;
}

.dropDown {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.textArea {
	font-size: 1.2rem;
	margin-left: 20.5rem;
	margin-bottom: 3rem;
}

p {
	font-size: 1.2rem;
	margin-left: 20.5rem;
}
textarea {
	margin-left: 1rem;
	width: 100rem;
	height: 30rem;
	resize: none;
	padding: 50rem $kth-color-grey;
}

button {
	margin-left: 93rem;
	width: 8rem;
	height: 3rem;
	margin-top: 0.5rem;
}
