<link rel="stylesheet" type="text/css" href="contact.min.css">

<div class="contact_wrapper">
  <h1>If you need service or advice, contact CSC in the text field below</h1>
  <h2>Have you remembered to check if your answer could be found at intra.csc.kth.se?</h2>
  <h2>Don't forget to supply your email so that we can contact you.</h2>
  <div *ngIf="messageSentSuccess" class="messageStatusSuccess">
    <h3>Message sent successfully!</h3>
  </div>
  <div *ngIf="messageSentError" class="messageStatusError">
    <h3>Failed to send message, please try again later!</h3>
  </div>
  <form *ngIf="!messageSentSuccess && !messageSentError" [formGroup]="emailForm" (submit)="onSubmit(emailForm)">
      <div class="content">

        <div class="field">
          <label for="messageInput"><p>Message</p></label>
          <textarea
                    [class.success]="emailForm.controls['message'].valid"
                    id="messageInput"
                    type="text"
                    placeholder="Description"
                    [formControl]="emailForm.controls['message']"
                    rows="6">
          </textarea>
        <div class="messageSuccess" *ngIf="emailForm.controls['message'].valid">
          <img src="app/contact/checkmark.png">
        </div>
        <div *ngIf="emailForm.controls['message'].touched">
          <div class="messageError" *ngIf="emailForm.controls['message'].hasError('minlength') || emailForm.controls['message'].hasError('required')">
             Your message needs to be at least 10 characters long.
          </div>
       </div>
     </div>

     <div class="field">
       <label for="emailInput"><p>Email</p></label>
       <input
                  [class.success]="emailForm.controls['email'].valid"
                 id="emailInput"
                 type="text"
                 placeholder="Description"
                 [formControl]="emailForm.controls['email']"
                 rows="6">
        <span *ngIf="emailForm.controls['email'].valid">
           <img src="app/contact/checkmark.png">
        </span>
        <div *ngIf="emailForm.controls['email'].touched" >
           <div class="formError" *ngIf=" emailForm.controls['email'].hasError('required')">
             Enter your email.
           </div>
           <div class="formError" *ngIf="emailForm.controls['email'].hasError('invalidEmail')">
            Invalid email.
           </div>
       </div>
     </div>

    <div class="field">
      <label for="nameInput"><p>Name</p></label>
      <input
                [class.success]="emailForm.controls['name'].valid"
                id="nameInput"
                type="text"
                placeholder="Description"
                [formControl]="emailForm.controls['name']"
                rows="6">
      <span *ngIf="emailForm.controls['name'].valid">
        <img src="app/contact/checkmark.png">
      </span>
      <div *ngIf="emailForm.controls['name'].touched" >
        <div class="formError" *ngIf="emailForm.controls['name'].hasError('required')">
          Enter your name.
        </div>
       </div>
     </div>

    <div class="field">
      <label for="captchInput"><p>{{captchaA}} + {{captchaB}} = ?</p></label>
      <input
                [class.success]="emailForm.controls['captcha'].valid"
                id="captchaInput"
                type="text"
                placeholder="Description"
                [formControl]="emailForm.controls['captcha']"
                rows="6">
      <span *ngIf="emailForm.controls['captcha'].valid"> <img src="app/contact/checkmark.png"> </span>
      <div *ngIf="emailForm.controls['captcha'].touched" >
        <div class="formError" *ngIf="emailForm.controls['captcha'].hasError('invalidCaptcha')">
          Wrong Answer.
        </div>
      </div>
    </div>

    <div class="buttonArea">
          <button type="submit" [disabled]="!emailForm.valid">Submit</button>
    </div>

  </div>

</form>

</div>
