@import "../css/app.scss";


* {
	font-size: 1.5rem;
}

p {
	color: #FF0000;
	margin-left: 20rem;
	font-size: 1rem;
}


label {
	font-size: 1.2rem;
	margin-left: 1rem;
}

textarea {
	margin-left: 1rem;
	width: 90rem;	// from 100
	height: 10rem;
	resize: none;
	padding: 50rem $kth-color-grey;
}

button {
	margin-left: 81.5rem; // from 93
	width: 9rem;
	height: 3rem;
	margin-top: 0.3rem;
}
input {
	margin-left: 1rem;
	padding: 50rem $kth-color-grey;
}


// DROPDOWN SHIT

/*
select {
  width: 90rem; // from 101
  height: 4rem;
	padding: 5rem $kth-color-grey;
	margin-left: 1rem;
}
 */


 /*
 .dropDown {
 	margin-bottom: 1rem;
 	margin-top: 1rem;
 }


 .textArea {
 	font-size: 1.2rem;
 	margin-left: 20.5rem;
 	margin-bottom: 3rem;
 }
*/
