.submissionfield {
	width: 500px; height: 200px; border: 1px solid #999999; padding: 5px; 
}
.whofield {
	width: 500px; height: 15px; border: 1px solid #999999; padding: 5px; 
}

textarea {
	resize: none;
}

input, textarea {
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   margin-bottom: 8px;
}




button {
	width: 8em; 
	height: 2em;
	margin-bottom: 2.5em;
	margin-top: 1em;
	border: 2px solid #008CBA; 
	border-radius: 5px;
	color: #008CBA;

}

button:active {
	background-color: #008CBA;
	color: #FFFFFF !important;
}


.wrapper {
	display: inline-block;
	margin: 0 auto;
}

.globalwrapper {
	display: inline-block;
	text-align: center;
}
