@import "../css/app.scss";


.inputBox {
	width: 500px; height: 250px; border: 1px solid #999999; padding: 5px;
}
.nameBox {
	width: 500px; height: 30px; border: 1px solid #999999; padding: 5px;

}

textarea {
	resize: none;
}

input,textarea {
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   margin-bottom: 8px;
}


button {
	width: 8em;
	height: 2em;
	margin-bottom: 2.5em;
	margin-top: 1em;
	border: 2px solid $kth-color-blue;
	border-radius: 5px;
	color: $kth-color-grey;

}

button:active {
	background-color: $kth-color-blue;
	color: $kth-color-blue !important;
}


.wrapper {
	display: inline-block;
	margin: 0 auto;
}

.globalwrapper {
	display: inline-block;
	text-align: center;
}
