// The main SASS file. Import this file to have access to global variables.

// ----- Global colors -------
// Handy colors
$white: #FFFFFF;
$black: #000000;

// ----- KTH specifics -----
$kth-color-blue: #2258A5; // #0064B0
$kth-color-light-blue: #2E7CC0;
$kth-color-green: #B0C92A;
$kth-color-grey: #65656C;

// ----- Global fonts -----

// ----- KTH specifics -----
$kth-font-title: Helvetica;
