@import "../css/app.scss";

.setup{
	height: 100%;
	overflow: auto;
	padding:1rem;
	table{
		.item {
			vertical-align: top;
			display: block;
			margin-top: 1em;
			padding-bottom: 1em;
			td:first-child {
				width: 50rem;
			}
			td {
				padding: 0 1em 0 1em;
				p {
					margin: 0 0 0 0;
				}
				input, textarea {
					width: 100%;
					resize: vertical;
					padding: 0.2em;
				}
				.maps {
					height:20rem;
					width:100%;
				}
				.qmark {
					font-family: Arial;
					font-size: 2.2em;
					background-color: #169fdb;
					border-radius: 50%;
					width: 1.5em;
					margin-top: 0.1em;
					height: 1.5em;
					color: #fff;
					text-align: center;
					font-weight: bold;
					line-height: 150%;
				}
			}
			.info {
				padding: 1em !important;
				background-color: #f2f2f2;
				width: auto;
			}
		}
	}
	.button {
		margin-left: 1rem;
		font-size: 1.2em;
		line-height: 2em;
		width: 5em;
	}
}






a {
	text-decoration: none;
}
