<!-- Load our partials' css file -->
<link rel="stylesheet" href="setup-process.min.css"/>

<div id="setup">
  <h1>
    Welcome to the CScreen setup
  </h1>

  <header>
    <a href="https://github.com/Project-Handbook/interactive-screens/wiki/Setup-Documentation"><button type="button">Detailed documentation</button></a>
    <a href="https://github.com/Project-Handbook/interactive-screens/issues"><button type="button">Report an issue</button></a>
    <br />
    <br />
    Or press the the '?' for detailed information about a certain input.
  </header>

  <h2>General Information</h2>

  <table>
    <tr class="item">
      <td>
        <p>Title of the screen</p>
        <input type="text" placeholder="Information Desk" [(ngModel)]="screenInfo.title"/>
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('titleInfo').style.display= document.getElementById('titleInfo').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="titleInfo" class="info" style="display: none;">
        Where the screen is located, this will be shown on the top of the screen.
      </td>
    </tr>
    <tr class="item">
      <td>
        <p>Position of the screen</p>
        <div class="maps" id="map"></div>
        <br>
        <label>Latitude</label>
        <input placeholder="Enter latitude coordinate" [(ngModel)]="screenInfo.latitude"/>
        <br>
        <label>Longitude</label>
        <input placeholder="Enter longitude coordinate" [(ngModel)]="screenInfo.longitude"/>
        <br>
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('coordinatesInfo').style.display= document.getElementById('coordinatesInfo').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="coordinatesInfo" class="info" style="display: none;">
          Enter the coordinates of the position of the screen.
          The coordinates will be used to display the position of the screen in the map view.
          Click on the map or insert them manually in the text fields.
      </td>
    </tr>
    <tr class="item">
      <td>
        <p>Department</p>
        <label>Choose school</label>
        <select (change)="getDepartments($event.target.value)" style="width: 100%; padding: 0.2em">
          <option>School</option>
          <option  *ngFor="#school of schools" [value]="school.code">
            {{school.school}}
          </option>
        </select>
        <br><br>
        <label>Choose department</label>
        <select id="department_drop_down" [(ngModel)]="department_code" style="width: 100%; padding: 0.2em">
          <option *ngFor="#department of department_list" [value]="department.code">
            {{department.name_sv}}
          </option>
        </select>
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('department_code_info').style.display= document.getElementById('department_code_info').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="department_code_info" class="info" style="display: none;">
          This deparment will be displayed by default in the People tab.
      </td>
    </tr>
  </table>

  <h2>Sidebar Information</h2>
  <table>
    <tr class="item">
      <td>
        <p>Address</p>
        <input type="text" placeholder="Avenue Street 123" [(ngModel)]="screenInfo.address"/>
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('addressInfo').style.display= document.getElementById('addressInfo').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="addressInfo" class="info" style="display: none;">
        Where the screen is located, this will be shown on the top of the screen.
      </td>
    </tr>

    <tr class="item">
      <td>
        <p>Postal code</p>
        <input type="text" placeholder="12345" [(ngModel)]="screenInfo.postal_code">
      </td>
    </tr>

    <tr class="item">
      <td>
        <p>City</p>
        <input type="text" placeholder="Stockholm" [(ngModel)]="screenInfo.city">
      </td>
    </tr>

    <tr class="item">
      <td>
        <p>Telephone number</p>
        <input type="text" placeholder="+46 076 123 123" [(ngModel)]="screenInfo.telephoneNumber" />
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('telephoneInfo').style.display= document.getElementById('telephoneInfo').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="telephoneInfo" class="info" style="display: none;">
        Telephone number to which the visitors, amongs others, should be calling.
      </td>
    </tr>

    <tr class="item">
      <td>
        <p>Telephone number for deliveries</p>
        <input type="text" placeholder="+46 076 321 321" [(ngModel)]="screenInfo.telephone_deliveries" />
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('telephone_deliveries').style.display= document.getElementById('telephone_deliveries').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="telephone_deliveries" class="info" style="display: none;">
        Telephone number to which the delivery man should be calling.
      </td>
    </tr>

    <tr class="item">
      <td>
        <p>Nearby Departments</p>
        <input type="text" placeholder="Service Center" [(ngModel)]="newDepartment" style="width: 90%">
        <button (click)="addDepartment()" style="float: right; padding: 0.2em;">Add</button>
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('telephoneInfo').style.display= document.getElementById('telephoneInfo').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="telephoneInfo" class="info" style="display: none;">
        Departments located in the close vicinity of the screen, in the same building and so on.
      </td>
    </tr>

    <tr class="item">
      <td>
        <p>Nearest department</p>
        <select [(ngModel)]="screenInfo.nearest_department" style="width: 90%">
          <option *ngFor="#department of departments">{{ department }}</option>
        </select>
        <button (click)="removeDepartment()" style="float: right; padding: 0.2em;">Remove</button>
      </td>
      <td>
        <a href="javascript:void(0)" onclick="document.getElementById('telephoneInfo').style.display= document.getElementById('telephoneInfo').style.display == 'none' ? 'block' : 'none';">
          <div class="qmark">?</div>
        </a>
      </td>
      <td id="telephoneInfo" class="info" style="display: none;">
        Nearest department in relationship to the screen. The department associated with the screen.
      </td>
    </tr>

  </table>

  <button class="button" (click)="loadInformation()">Load</button>
  <button class="button" type="submit" (click)="saveInformation()">Save</button>

  <!-- Padding -->
  <div style="height: 20rem"></div>

</div>
