:host>>>.block.teaser.overlay.top.image .teaserText
{ padding-top: 0px; padding-bottom: 10px; padding-left: 0px; padding-right: 0px; }
:host>>>.block.teaser.overlay.top .teaserImage { padding: 0px; margin: 0px; }
:host>>>.block.teaser.overlay.top .teaserText { top: 0; right: 0; width: 100%; background-position: 100% 100%; }
.blockItem{
  background-color: blue;
}
