<!-- Load our partials' css file <link rel="stylesheet" href="http://www.kth.se/css/v/8.28.4/kth.css"/>-->
<div  id="home_container" class="home_container">

	<style>
		a{
			pointer-events: none;
		}


		#home_container {
			width: 70%;
			margin: 0 auto;
			display: table;
		}

		.news_block {
			margin-left:1%;
			margin-right:1%;
			width: 55%;
			float: left;
			display: inline;
			background-color:
		}

		.calendar_block {
			width: 42%;
			float: right;
			margin-right:1%;
		}

		.blockItem {
			width: 650px;
			margin-bottom:20px;
		}
		.block.teaser.noMedia{
			padding:1rem;
			background-color:#98ad29;
		}

		#news_item1{
			margin-bottom:1rem;
		}
		#news_item2{
			margin-bottom:1rem;
		}

	</style>


	<div class="news_block">
		<div id="news_item1" *ngIf="news_block && !news_feed_error" class="block_item" [innerHTML]="news_block[0]">
		</div>
		<div id="news_item2" *ngIf="news_block && !news_feed_error" class="block_item" [innerHTML]="news_block[1]">
		</div>
		<div id="news_item3" *ngIf="news_block && !news_feed_error" class="block_item" [innerHTML]="news_block[2]">
		</div>

	<div *ngIf="news_feed_error">
		<center>
			<img src="app/find-person/images/Error-100.png"/>
			<br>
			<h3>The requested data is not available at the moment.</h3>
		</center>
	</div>
</div>
<div class="calendar_block">
	<div [innerHtml]="calendar_block"></div>
	<div *ngIf="calendar_error">
		<center>
			<img src="app/find-person/images/Error-100.png"/>
			<br>
			<h3>The requested data is not available at the moment.</h3>
		</center>
	</div>
</div>
</div>
