@import "../css/app.scss";

// -------- Header styles --------
.main_frame_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $kth-color-blue;

  .main_header_title {
    max-width: 50%;
    font: $kth-font-title;
    font-weight: lighter;
    color: $white;
    font-size: 400%;
  }
}

// -------- Sidebar styles --------
.sidebar {
  position:relative;
  list-style: none;
  margin:0;
  padding:0;
  width:15%;
  float:left;

  .sidebar-item {
    font: $kth-font-title;
    font-size:120%;
    border-right:solid $kth-color-blue;
    border-bottom: 1px groove #A9A9A9;

    .icon {
      padding:10px;
      text-align: center;
      width:150px;
      margin-left:50px;
    }
  }
}

.sidebar-filler {
  height:100%;
  border-right:solid $kth-color-blue;
}

.contact_field {
    position:relative;
    font-size:120%;
    padding:10 10 10 20;
    float: right;
    height:100%;
    width:15%;
    border-left:solid $kth-color-blue ;
    z-index:2;
    margin:0;
    box-sizing: border-box;


    h2 {
      font: $kth-font-title;
      color: $kth-color-green;
    }
    .open-hrs {
      width:100%;
      span {
        text-align:right;
        float:right;
        margin-right:100px;
      }
    }
}

#footer {
  background: url("https://intra.kth.se/polopoly_fs/1.486628!/image/KTH_pngs19.png");
  position:absolute;
  bottom:0;
  width:100%;
  height:2.6rem;   /* Height of the footer */
}

.absolute {
  z-index:0;
}

// ----------------
