<!-- Load our partials' css file
<link rel="stylesheet" href="main-frame.min.css"/> -->


<header id="head1" class="main-frame-header" #header>
  <div class="icon-wrapper">
    <img class="icon" src="https://www.kth.se/polopoly_fs/1.77257!/KTH_Logotyp_RGB_2013-2.svg"/>
  </div>
  <div class="main-header-title"><h1 [style.font-size.em]="titlefontSize" #titleText>{{ screenInfo.title }}</h1></div>
  <div class="main-header-clock"><h2 [innerHTML]="clock"></h2></div>
</header>

<div class="header-border"></div>

<div class="contact-field">
  <div class="inner-contact-field">
    <h2>Contact</h2>
    <p>Address:<br>
       {{ screenInfo.address }}<br>
       {{ screenInfo.postal_code }} {{ screenInfo.city }}
    </p>
    <p>
      Telephone:<br>
      {{ screenInfo.telephoneNumber }}
    </p>
    <p>
      Telephone deliveries:<br>
      {{ screenInfo.telephone_deliveries }}
    </p>
    <p>
      {{ screenInfo.additional_delivery_info }}
    </p>
    <div class="open-hrs" *ngIf="screenInfo.opening_hours_enabled">
      <h2>Opening Hours</h2>
       <label *ngFor="let weekday of weekdays">
         <label class="opening-hours-day">{{ weekday }}</label><br>
         <label class="opening-hours-times" *ngIf="screenInfo.opening_hours[weekday][2]">{{ screenInfo.opening_hours[weekday][0] }} - {{ screenInfo.opening_hours[weekday][1] }}</label>
         <label class="opening-hours-times" *ngIf="!screenInfo.opening_hours[weekday][2]">Closed</label>
         <br>
       </label>
    </div>
    <h2>Departments</h2>
    <div>
      <b>{{ screenInfo.nearest_department }}</b>
      <div *ngFor="let department of screenInfo.departments">
        <label *ngIf="!(department === screenInfo.nearest_department)"> {{ department }}</label>
      </div>
    </div>
  </div>
</div>

<nav>
  <ul class="sidebar">
    <div [routerLink]="['home']" [queryParams]={} class="sidebar-item"  [ngStyle]="{'border-right': menuItemsRightBorder[0]}">
      <div class="icon">
      <li>Home</li>
      <img *ngIf="!menuImages[0]" src="./images/ofylldhome.svg" height="100" width="100" />
      <img *ngIf="menuImages[0]" src="./images/fylldhome.svg" height="100" width="100" />
      </div>
    </div>
    <div  [routerLink]="['people']" [queryParams]={} class="sidebar-item" [ngStyle]="{ 'border-right': menuItemsRightBorder[1]}">
      <div class="icon">
       <li>People</li>
       <img *ngIf="!menuImages[1]" src="./images/people-fylld.svg" height="100" width="100" />
       <img *ngIf="menuImages[1]" src="./images/people-ofylld.svg" height="100" width="100" />
      </div>
    </div>
    <div  [routerLink]="['map']" [queryParams]={} class="sidebar-item" [ngStyle]="{ 'border-right': menuItemsRightBorder[2]}">
      <div class="icon">
      <li>Places</li>
      <img *ngIf="!menuImages[2]" src="./images/map-unfilled.svg" height="100" width="100" />
      <img *ngIf="menuImages[2]" src="./images/map-filled.svg" height="100" width="100" />
      </div>
    </div>
    <div [routerLink]="['contact']" [queryParams]={} class="sidebar-item" [ngStyle]="{'border-right': menuItemsRightBorder[3]}">
      <div class="icon">
      <li>Service or advice</li>
      <img *ngIf="!menuImages[3]" src="./images/assistance-unfilled.svg" height="100" width="100" />
      <img *ngIf="menuImages[3]" src="./images/assistance-filled.svg" height="100" width="100" />
      </div>
    </div>
     <div class="sidebar-filler" >
    </div>
  </ul>
</nav>
<!-- Routed views go here -->
<router-outlet></router-outlet>

<footer id="footer"><div class="footer_text" ><h3>{{screenInfo.school.footer_text}}</h3></div></footer>
