<!-- Load our partials' css file -->
<link rel="stylesheet" href="main-frame.min.css"/>
<header class="main_frame_header">
  <img src="app/main-frame/images/KTH_Logotyp_RGB_2013.jpg" width="120" height="120"/>
  <h1 class="main_header_title">{{ screenInfo.title }}</h1>
</header>

<div class="contact_field">
    <h2>Contact</h2>
    <p>Address:<br>
       {{ screenInfo.address }}<br>
       12345 Stockholm
    </p>
    <p>
      Telephone:<br>
      {{ screenInfo.telephoneNumber }}
    </p>
     <p class="open-hrs">
      Open:<br>
      Mon-Thu <span>08:00 - 17:00</span><br>
      Friday <span>09:00 - 14:00</span><br>
      Sat-Sun <span>Closed</span>
    </p>
    <h2>Departments</h2>
    <div>
      <b>{{ screenInfo.nearest_department }}</b>
      <div *ngFor="#department of screenInfo.departments" *ngIf="!(department === screenInfo.nearest_department)">
        {{ department }}
      </div>
    </div>
</div>

<nav>
  <ul class="sidebar">
    <div [routerLink] = "['Home']" class="sidebar-item" [ngStyle]="{'border-right': menuItemsRightBorder[0],
      'border-bottom': menuItemsTopBottomBorder[0]}">
      <div class="icon">
      <li>Home</li>
      <img src="https://maxcdn.icons8.com/iOS7/PNG/100/Very_Basic/home-100.png" />
      </div>
    </div>
    <div [routerLink] = "['FindPerson']" class="sidebar-item" [ngStyle]="{ 'border-right': menuItemsRightBorder[1],
     'border-bottom': menuItemsTopBottomBorder[1]}">
      <div class="icon">
       <li>People</li>
      <img src="https://maxcdn.icons8.com/iOS7/PNG/100/Users/user_male_circle_filled-100.png" />
      </div>
    </div>
    <div [routerLink] = "['Map']" class="sidebar-item" [ngStyle]="{ 'border-right': menuItemsRightBorder[2],
     'border-bottom': menuItemsTopBottomBorder[2]}">
      <div class="icon">
      <li>Places</li>
      <img src="https://maxcdn.icons8.com/Android/PNG/96/Maps/map_marker-96.png" />
      </div>
    </div>
    <div [routerLink] = "['Contact']" class="sidebar-item" [ngStyle]="{'border-right': menuItemsRightBorder[3]}">
      <div class="icon">
      <li>Assistance</li>
      <img src="https://maxcdn.icons8.com/iOS7/PNG/100/Messaging/message-100.png" />
      </div>
    </div>
     <div [routerLink] = "['Contact']" class="sidebar-filler" >
    </div>
  </ul>
</nav>
<!-- Routed views go here -->
<router-outlet></router-outlet>

<footer id="footer"></footer>

<!-- Icons8 requirement to be able to use icons .. -->
<!-- <a href="https://icons8.com">Icon pack by Icons8</a> -->
