	<div class="container" >
        <div>
            <input class="searchField" placeholder="Search for a location..." autocomplete="off" type="text" [(ngModel)]=query (keyup)=search(query)>
            <div class="selectButton" id="button1" (click)="buttonPush(1)" [ngStyle]="{'background-color': buttons[0]}">
                <h3>Address</h3>
            </div>
            <div class="selectButton" id="button2" (click)="buttonPush(2)" [ngStyle]="{'background-color': buttons[1]}">
                <h3>Location</h3>
                </div>  
            </div>
            <div class="error" *ngIf="showErrorMessage">
                <h1>The requested data is not available at the moment, please come again!</h1>
            </div>
            <div  class="suggestions"  *ngIf="searchResult.length> 0">
                <ul *ngFor="#item of searchResult" >
                    <li >
                        <a *ngIf="searchForLocation" (click)="select(item)">{{item.roomCode}}</a>
                        <a *ngIf="!searchForLocation" (click) ="select(item)">
                            {{item.streetAddress}} </a>
                    </li>
                </ul>
            </div>
    </div>