

.suggestions{
		border:solid 1px #f1f1f1;
		position:absolute;
		width:30%;
		background: white;
		z-index:10;
	}
	.suggestions ul{
		margin:0px;
		padding:0px;
		width:100%;
	}
	.suggestions ul li{
		list-style-type: none;
		width:100%;
		height:3rem;
		border-bottom:solid 1px #f1f1f1;

	}
	.suggestions ul li a{
		padding:1rem;
		display:block;
	}
	.suggestions ul li a:hover{
		background-color: #f1f1f1;
	}
	
.searchField{
	padding:1rem;
	font-size:2.5rem;
	width:50%;
	height:4rem;
	}
