.container{
	z-index:9;
	position:absolute;
	margin:30px;
	.searchField{
		padding:1rem;
		font-size:2.5rem;
		width:30rem;
		height:4rem;
		
	}
	.suggestions{
			border:solid 1px #f1f1f1;
			position:absolute;
			width:100%;
			background: white;
			z-index:10;
		}
		.suggestions ul{
			margin:0px;
			padding:0px;
			width:100%;
		}
		.suggestions ul li{
			list-style-type: none;
			width:100%;
			height:3rem;
			border-bottom:solid 1px #f1f1f1;

		}
		.suggestions ul li a{
			padding:1rem;
			display:block;
		}
		.suggestions ul li a:hover{
			background-color: #f1f1f1;
		}
		.error{
			background-color:white;
		}

}