.maps{
  height:650px;
  width:100%;
}
.wrapper{
  width:60%;
  margin:auto;
  padding:40px;
  z-index:1;

  .map-and-search{
  	float:left;
    width:80%;
    margin:0;
    padding:0;
  }
  .common-places{
  	float:right;
    width:20%;
    margin:0;
    padding:0;
  }

}

