
.wrapper{
  width:70%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  z-index:1;
  background-color: blue;
  postion:absolute;

   .maps{
    height:66rem;
    width:100%;
    margin:0;
    padding:0;
    z-index:0;
  } 
}

