<link rel="stylesheet" type="text/css" href="find-person.min.css" />

<body>
<div id="wrapper">

	<div id="popup-1" class="popup-pos" [ngClass]="{active: isOn, disabled: !isOn}" (click)="toggle(!isOn);">
		<div class="popup-wrapper">
			<div class="popup-content">
				<div class="popup-person" *ngIf="currentPerson">
					<p class="person-name">{{ currentPerson.given_name }} {{ currentPerson.family_name }}</p>
					<p class="person-title">{{ currentPerson.title }}</p>
					<img [src]="currentPerson.image_url" onError="this.src='app/find-person/images/missing-profile-image.png'"/>
				</div>
			</div>
		</div>
	</div>

	<div id="wrapper-persons">
		<div id="person-header">
			<form action="search()" id="search-container">
				<input type="text" [(ngModel)]="input" id="person-search-input" placeholder="Search for someone ...">
				<button type="submit" (click)="search(input)" name="search_button" id="person-search-button"></button>
			</form>
			<br>
			<h5 *ngIf="currentSearch.length == 0" id="search-input-string">Showing {{ orgName }} staff</h5>
			<h5 *ngIf="currentSearch.length > 0" id="search-input-string">Showing results for: {{ currentSearch }}</h5>
		</div>

		<div class="personId" id="A"><h4>A</h4></div>

		<div *ngFor="#person of people; #i = index">

			<div *ngIf="i > 0 && person.family_name.charAt(0) > people[i-1].family_name.charAt(0)" class="personId" id="A">
				<h4>{{ person.family_name.charAt(0).toUpperCase() }}</h4>
			</div>

			<div class="person" (click)="toggle(!isOn,person)">
				<img [src]="person.image_url" onError="this.src='app/find-person/images/missing-profile-image.png'"/>

				<div class="person-info">
					<p class="person-info-name">{{ person.given_name }} {{ person.family_name }}</p>
					<p class="person-info-title">{{ getTitle(person.title) }}</p>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
