@import "../css/app.scss";

.wrapper {
    height: 84%;
    font-family: Arial, "Helvetica Neue", helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 69%;
    text-align: center;
    .wrapper-persons {
        * {
            margin: 0;
            padding: 0;
            list-style: none
        }
        overflow-y: scroll;
        overflow-x: none;
        width: 70%;
        height: 100%;
        float: left;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
        .person-header {
            padding: 2.4em 2.4em 0 2.4em;
            position: relative;
            .nearby_departments{
              width:20%;
              position:absolute;
              top:2.4em;
              right:2.4em;
              p{
                font-size: 200%;
              }
              li{
                text-align: left;
                color:#2e7cc0;
                margin-top:0.5em;
                font-size: 200%;
              }
            }
            .search-container {
                font-size: 3em;
                height: 55px;
                max-width: 80%;
                display: table-cell;
                border: 1px solid #9a9a9a;
                line-height: 55px;
                position: relative;
                .person-search-input {
                    width: 480px;
                    height: 100%;
                    font-size: .8em;
                    padding-left: .5em;
                    float: left;
                    border: none;
                }
                .person-search-schools {
                  float: left;
                  font-size: 1.5rem;
                  height: 100%;
                  padding: 0 0.75em;
                  border-right: 1px solid #9a9a9a;
                  border-left: 1px solid #9a9a9a;
                  position: relative;
                  cursor: pointer;
                }
                .person-search-schools-current {
                  text-align: center;
                  height: 100%;
                  position: relative;
                  line-height: inherit;
                  margin-right: 1em;
                  mark {
                    transform: rotate(90deg);
                    position: absolute;
                    background: none;
                    margin-left: 0.5em;
                    color: #83a552;
                  }
                }
                .person-search-button {
                    height: 3.5rem;
                    width: 97px;
                    background-image: url(./images/glass.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 38%;
                    background-color: #83a552;
                    float: left;
                    border: none
                }
            }
            .schools-wrapper {
              font-size: 1.5rem;
              display: table;
              position: absolute;
              margin-left: 481px;
              margin-top: 1px;
              z-index: 10;
              .schools {
                font-family: Arial;
                border-bottom: 1px solid #adafb2;
                border-left: 1px solid #adafb2;
                border-right: 1px solid #adafb2;
                float: left;
                background-color: #fff;
                li {
                  line-height: 2rem;
                  display: block;
                  padding: 0.7rem 2.1rem;
                  border-top: 1px solid #adafb2;
                  text-align: center;
                }
                li:hover {
                  background-color: #f1f1f1;
                }
              }
              .departments-wrapper {
                margin-left: 1px;
                float: left;

                button {
                  width: 100%;
                  border: 1px solid #adafb2;
                  background: #fff;
                  height: 55px;
                  color: #83a552;
                  outline:none;
                }
                button:first-child p {
                  line-height: 0px;
                }
                button:last-child p {
                  line-height: 0px;
                }
                button:first-child p mark {
                  position: absolute;
                  transform: rotate(-90deg);
                  color: #83a552;
                }
                button:last-child p mark {
                  position: absolute;
                  color: #83a552;
                  transform: rotate(90deg);
                }
                .departments {
                  white-space: nowrap;
                  position: static !important;
                  border-bottom: none !important;
                  float: none !important;
                  max-width: 1020px;
                  max-height: 610px;
                  overflow-x: hidden;
                  overflow-y: scroll;
                  font-family: Arial;
                  border-bottom: 1px solid #adafb2;
                  border-left: 1px solid #adafb2;
                  border-right: 1px solid #adafb2;
                  float: left;
                  background-color: #fff;
                  li:last-child {
                   border-bottom: 1px solid #adafb2;
                  }
                  li {
                    line-height: 2rem;
                    display: block;
                    padding: 0.7rem 2.1rem;
                    border-top: 1px solid #adafb2;
                    text-align: center;
                  }
                  li:hover {
                    background-color: #f1f1f1;
                  }
                }
              }
            }
            .search-input-string {
                text-align: left;
                font-size: 2.5em;
                margin: 1rem 0 2rem 0;
                color: #818087;
            }
        }
        .table-wrapper{
          margin-left:2.4em;
          margin-right:2.4em;
          .person-table {
            -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
            cursor: pointer;
            width: 100%;
            font-size: 1em;
            thead{
              th{
                font-size: 2em;
                border-top: 1px dotted #111111;
                border-bottom: 1px dotted #111111;
                padding: 0.25em;
                min-width: 156px;
                p{
                  float: left;
                  text-decoration: underline;
                }
                mark{
                  background: none;
                  color: #83a552;
                  transform: rotate(90deg);
                  float: left;
                  margin-left: 0.5em;
                }
                #firstname, #email, #phone,#title{
                  display:none;
                }
              }
            }
            .person-table-body{
              tr{
                td:first-child, td:nth-child(2), td:nth-child(3){
                  color: #2e7cc0;
                }
                td {
                  border-top: 1px dotted #e3e5e3;
                  font-size: 2em;
                  padding: 0.5em 0.25em 0.5em 0.5em;
                  img {
                    width: 20px
                  }
                }
              }
            }
        }
    }
}
}



.popup-pos {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    z-index:10;
    .popup-wrapper {
        width: 1000px;
        margin: 250px auto;
        margin-top: 100px;
        max-height: 80%;
        .popup-content {
          width: 100%;
            background-color: #fff;
            display: table;
            border-radius: 4px;
            .popup-person {
                width: 65%;
                height: inherit;
                float: left;
                text-align: left;
                .popup-person-wrapper {
                    font-size: 3em;
                    margin: 0.75em;
                    min-width: 30rem;
                    .popup-person-name {
                    }
                    .popup-person-title {
                        font-size: .6em;
                        margin-top: 0.2em;
                        color: #818087;
                    }
                    .popup-person-status{
                      font-size: .6em;
                      margin-top: 0.2em;
                      color: #818087;
                    }
                    .popup-person-line {
                        border-bottom: 1px solid gray;
                        margin-top: .25em;
                        margin-bottom: .75em;
                    }
                    a {
                        color: #24A0D8
                    }
                    table {
                        font-size: 0.5em;
                        margin-bottom: 3em;
                        td {
                          color: #000;
                        }
                        .category {
                            font-family: Arial;
                            font-weight: bold;
                            padding-right: 2em;
                            padding-top: 0.15em;
                        }
                    }
                    .popup-person-about {
                        font-size: 0.75em;
                        color: #000;
                        overflow: scroll;
                        max-height: 300px;
                        p {
                            color: #000;
                            margin-top: 0.25em;
                            font-size: 0.75em;
                            font-family: sans-serif;
                        }
                    }
                }
            }
            .popup-image {
                width: 35%;
                float: right;
                text-align: center;
                img {
                    margin-top: 2em;
                    width: 70%;
                    border-radius: 50%;
                }
            }

        }
    }
}

.active {
    display: block
}

.disabled {
    display: none;
    color: gray;
    border: solid gray
}



.popup-person-about::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.popup-person-about::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}








/*mark{
  position:relative;
  z-index: 0;
}
*/
