<head>
	<title>Persons</title>
	<link rel="stylesheet" type="text/css" href="partial_find-person.min.css" />

</head>

<body>

<div id="wrapper">

	<div id="popup-1" class="popup-pos" [ngClass]="{active: isOn, disabled: !isOn}" (click)="toggle(!isOn);">
		<div class="popup-wrapper">
			<div class="popup-content">
				<div class="popup-person">
					<img src="app/find-person/images/popup-info.png" />
				</div>
			</div>
		</div>
	</div>

	<div id="wrapper-persons">

		<div id="person-header">
			<!-- Should there be text here saying something like
				 "Below is a list of all persons found on this floor"? -->

			<form action="search()" id="search-container">
				<input type="text" [(ngModel)]="input" id="person-search-input" placeholder="Search for someone...">
				<button type="submit" (click)="search(input)" name="search_button" id="person-search-button"></button>
			</form>
			<br>

			<h5 *ngIf="currentSearch.length == 0" id="search-input-string">Showing {{orgName}} staff</h5>
			<h5 *ngIf="currentSearch.length > 0" id="search-input-string">Showing results for: {{currentSearch}}</h5>
		</div>

		<div class="personId" id="A"><h4>A</h4></div>

		<div *ngFor="#person of people; #i = index">

			<div *ngIf="i > 0 && person.family_name.charAt(0) > people[i-1].family_name.charAt(0)" class="personId" id="A"><h4>{{person.family_name.charAt(0).toUpperCase()}}</h4></div>

			<div class="person" (click)="toggle(!isOn)">
				<img [src]="peopleImage[i]" />

				<div class="person-info">
					<p class="person-info-name">{{person.given_name}} {{person.family_name}}</p>
					<p class="person-info-title">{{getTitle(person.title_sv)}}</p>
				</div>
			</div>
		</div>

		<div style="height: 40px"></div>
	</div>

</div>

</body>
