
<div class="popup-pos" [ngClass]="{active: isOn, disabled: !isOn}">
	<div class="popup-wrapper">
		<div class="popup-content" id="popup-content"  *ngIf="person != null">
			<div class="popup-person">
				<div class="popup-person-wrapper">
					<p class="popup-person-name">{{ person.given_name }} {{ person.family_name }}</p>
					<p class="popup-person-title">{{ person.title }}</p>
					<div>
						<p class="popup-person-status" >
							<img *ngIf="person.status" src="./images/availible.png" width="20" height="20" />
							<img *ngIf="!person.status && person.status !==null" src="./images/unavailible.png" width="20" height="20" />
							<span *ngIf="person.status_info"> Back on {{person.status_info.to}}</span>
						</p>
					</div>
					<div class="popup-person-line"></div>

					<table>
						<tr>
							<td class="category">Works at</td>
							<td>{{ person.working_place }}</td>
						</tr>
						<tr>
							<td class="category">Email</td>
							<td>{{ person.email }}</td>
						</tr>
						<tr>
							<td class="category">Phone(+HR)</td>
							<td>{{ person.phone_number }}</td>
						</tr>
						<tr>
							<td class="category">Phone</td>
							<td>{{ person.phone_number2 }}</td>
						</tr>
						<tr>
							<!--{given_name:person.given_name,
							family_name:person.family_name,address:person.visiting_address,room:person.room}-->
							<td class="category">Address</td>
							<td>{{ person.visiting_address }}</td>
							<td *ngIf="person.visiting_address"><a (click)="navigate()">View on map</a></td>
						</tr>
						<tr>
							<td class="category">Room</td>
							<td>{{ person.room }}</td>
						</tr>
						<tr>
							<td class="category">KTH profile</td>
							<td>{{ person.kth_profile }}</td>
						</tr>
					</table>
					About me
					<div class="popup-person-line"></div>
					<div class="popup-person-about">
						<p>{{ person.about_me }}</p>
					</div>
				</div>
			</div>
			<div class="popup-image">
				<!--onError="this.src='./images/missing-profile-image.png'"-->
				<img *ngIf="person.image_url" [src]="person.image_url"/>
			</div>
		</div>
	</div>
</div>
